<?xml version="1.0" encoding="utf-8"?>
<odoo>

    <menuitem id="menu_inventory_importer_root"
              name="Inventory Importer"
              sequence="50"/>

    <menuitem id="menu_inventory_imported"
              name="Imported Inventories"
              parent="menu_inventory_importer_root"
              action="action_inventory_imported"
              sequence="10"/>

</odoo>
